<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="niu.customcomponentstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".KeyClassActivity">
        </activity>
        <activity android:name=".PaintActivity">
        </activity>
        <activity android:name=".CanvasActivity">
        </activity>
        <activity android:name=".PathActivity">
        </activity>
        <activity android:name=".AnimationEffectActivity">
        </activity>
        <activity android:name=".BallMoveActivity">
        </activity>
        <activity android:name=".CoordinateShiftActivity">
        </activity>
        <activity android:name=".DoubleBufferActivity">
        </activity>
        <activity android:name=".ShaderGradientWeiTuActivity">
        </activity>
        <activity android:name=".GradientActivity">
        </activity>
        <activity android:name=".WeiTuActivity">
        </activity>
        <activity android:name=".ShaderActivity">
        </activity>

    </application>

</manifest>